{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}도서 조회{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center align-items-center">
            <div class="col-md-4">
                <img src="../image/testImage.jpg" class="img-thumbnail" alt="response image"/>
            </div>
            <div class="col-md-4 align-items-center">
                <div class="col-md-12 align-items-center">
                    <table class="table ">
                        <thead class="thead-light">
                        <th class="text-center">Name</th>
                        </thead>
                        <tbody>
                        <td class="text-center">대머리 독수리</td>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 align-items-center">
                    <table class="table ">
                        <thead class="thead-light">
                        <th class="text-center">Author</th>
                        </thead>
                        <tbody>
                        <td class="text-center">대머리 독수리의 모험</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4 align-items-center">
                <table class="table">
                    <thead class="thead-light">
                    <th class="text-center">ISBN</th>
                    </thead>
                    <tbody>
                    <td class="text-center">Hello Wo</td>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 align-items-center">
                <table class="table">
                    <thead class="thead-light">
                    <th class="text-center">Price</th>
                    </thead>
                    <tbody>
                    <td class="text-center">19,000</td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-8 align-items-center">
                <table class="table ">
                    <thead class="thead-light">
                    <th class="text-center">Description</th>
                    </thead>
                    <tbody>
                    <td class="text-center">대머리 독수리가 울부지저따</td>
                    </tbody>
                </table>
            </div>
        </div>
        <a href="#" class="btn btn-danger btn-sm active float-lg-right" role="button" aria-pressed="true">Delete Book!</a>
    </div>

{% endblock %}
