<!DOCTYPE html>
<html lang="ko">
    <head>
    <meta charset="UTF-8">
    <title>PhoneBook - Search</title>
    </head>
    <body>
         <h2>테이블 검색</h2>

         <form action="/search/" method="post">
            Search By Name!!!       : <input name="name" type="text" />
             <input value="Search Data!" type="submit" />
        </form>
         <br>

         <table border="1">
             <tr>
                 {% for col in table_head %}
                 <th>{{ col }}</th>
                 {% endfor %}

             </tr>
             {% for item in items %}
                 <tr>
                 {% for i in range(length_item) %}
                     <td>{{item[i]}}</td>
                 {% endfor %}
                 </tr>
             {% endfor %}
         </table>
    </body>
</html>