<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
            integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
            integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
            crossorigin="anonymous"></script>
</head>
<body>


<div class="container">
    <h2 class="text-center">사용자 조회</h2>
    <div class="container">
        <div class="row justify-content-md-center align-items-center">
            <div class="col-md-4">
                <img src="../image/testImage.jpg" class="img-thumbnail" alt="response image"/>
            </div>
            <div class="col-md-4 align-items-center">
                <div class="row justify-content-md-center">

                    <div class="col-md-7 align-items-center">
                        <table class="table ">
                            <thead class="thead-light">
                            <th class="text-center">Name</th>
                            </thead>
                            <tbody>
                            <td class="text-center">장보고</td>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-auto align-items-center">
                        <table class="table ">
                            <thead class="thead-light">
                            <th class="text-center">Gender</th>
                            </thead>
                            <tbody>
                            <td class="text-center">M</td>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-12 align-items-center">
                    <table class="table ">
                        <thead class="thead-light">
                        <th class="text-center">Tel</th>
                        </thead>
                        <tbody>
                        <td class="text-center">010-1234-5678</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4 align-items-center">
                <table class="table">
                    <thead class="thead-light">
                    <th class="text-center">E-Mail</th>
                    </thead>
                    <tbody>
                    <td class="text-center">gilsanjjang@gmail.com</td>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 align-items-center">
                <table class="table">
                    <thead class="thead-light">
                    <th class="text-center">Birthday</th>
                    </thead>
                    <tbody>
                    <td class="text-center">1821-03-27</td>
                    </tbody>
                </table>
            </div>
        </div>
        <a href="#" class="btn btn-danger btn-sm active float-sm-right" role="button" aria-pressed="true">Delete User!</a>
    </div>


</div>
</body>
</html>