<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>PhoneBook - Insert</title>
    </head>
    <body>
         <h2>PhoneBook - Insert</h2>
         <h4> Usage : Type You Own Pharmacy's Name, Telno, Address</b> </h4>

        <form action="/phonebook/insert" method="post">
            Pharmacy's Name       : <input name="name" type="text" /> <br>
            Pharmacy's Tel-Number : <input name="telno" type="text" /> <br>
            Pharmacy's Address    : <input name="address" type="text" /> <br>
            <br>
            <input value="Insert Data!" type="submit" />
        </form>
    </body>
</html>