<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PhoneBook - Index</title>
    </head>
    <body>
        <h2>PhoneBook - Index</h2>

        <h3>Search Pharmacy's Phone Number & Address!</h3>
        <a href="/phonebook/search">Go To Search!</a>
<br>
        <h3>Insert Pharmacy's Data!</h3>
        <a href="/phonebook/insert">Go To Insert!</a>
<br>
        <h3>Delete Pharmacy's Data!</h3>
        <a href="/phonebook/delete">Go To Delete!</a>
<br>
    </body>
</html>